# Node / Javascript
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
yolov8n.pt

# Project Specific
backend/data/*.sqlite
backend/uploads/
ai_service/app/services/*.pt
ai_service/*.pt
frontend/dist/
.DS_Store
Thumbs.db
